
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer {

}


/* ==================================
    背景設定
==================================== */
.back-image-home {
    background-image: url("../image/top_image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.back-image {
    background-color: #BBBBBB;
}


/* ==================================
    ナビゲーションバー
==================================== */
.sticky-top {
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.navbar {
}

.navbar-nav {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    text-align: right;
}

.nav-item {
    list-style: none;
}

.navbar-brand {
    display: block;
    text-decoration: none;
    margin-left: 1.5rem;
    margin-right: 1.0rem;
    padding: 1.0rem;
    color: rgba(255,255,255,0.8);
    font-size: 3.0rem;
    font-family: Impact, 'Arial Rounded MT Bold', sans-serif;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding: 1.5rem;
    text-align: center;
    color: rgba(255,255,255,0.8);
    font-size: 2.0rem;
    font-family: serif;
}

.nav-item .now-page-symbol {
    background-position-y: 2.5rem;
    background-image: radial-gradient(0.4rem 0.4rem at center center, silver, silver 100%,transparent);
}

.nav-menu {
    display: inline;
}

/*チェックボックス非表示*/
.nav-toggle {
    display: none;
}

.btn-burger {
    display: none;
}


/* ==================================
    About
==================================== */
.main-contents {
    margin: 3% 10%;     /* [上下][左右] */
    text-align: center;
    font-size: 1.8rem;
}

.my-icon .icon {
    width: 20vw;
}





/* ==================================
    コピーライト表示
==================================== */
.footer-fixed {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
    background-color: rgba(255,255,255,0.1);
    text-align: center;
}

.copylight {
    color: black;
    font-family: Impact;
}


/* ==================================
    タブレット向け設定
==================================== */
@media screen and (max-width: 1020px) and (min-width: 768px) {
    html {
        font-size: 80%;
    }

    /* ==================================
    ハンバーガーアイコン
    ==================================== */
    .btn-burger {
        cursor: pointer;
        display: block;
        width: 56px;
        height: 60px;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    /*ハンバーガーアイコンを作る三本線*/
    .icon, .icon:before, .icon:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 2px; /*線の太さ*/
        width: 35px; /*線の長さ*/
        background-color: white;
        border-radius: 2px;
        display: block;
        content: '';
        cursor: pointer;
        margin: auto;
    }

    /*三本線の間隔*/
    .icon:before {
        top: 10px;
    }

    .icon:after {
        top: -20px;
    }

    /*チェックボックス非表示*/
    .nav-toggle {
        display: none;
    }

    /*アイコンをクリックしたら*/
    .nav-toggle:checked ~ .btn-burger .icon {
        background: transparent;
    }

    .nav-toggle:checked ~ .btn-burger .icon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    .nav-toggle:checked ~ .btn-burger .icon:after {
        transform: rotate(45deg);
        top: 0;
    }

    .icon,
    .icon:before,
    .icon:after {
        transition: all .8s;
    }

    .navbar-nav {
        display: none;
    }

    .nav-toggle:checked ~ .navbar-nav {
        display: block;
    }

    .nav-item .now-page-symbol {
        background-position-y: 0;
        background-position-x: -6rem;
        background-image: radial-gradient(0.4rem 0.4rem at center center, silver, silver 100%,transparent);
    }

    /* ==================================
        About
    ==================================== */
    .main-contents {
        margin: 3% 10%; /* [上下][左右] */
        text-align: center;
        font-size: 1.3rem;
    }
    .my-icon .icon {
        width: 20vw;
    }
}

/* ==================================
    スマホ向け設定
==================================== */
@media screen and (max-width: 767px) {
    html {
        font-size: 100%;
    }

    /* ==================================
    ハンバーガーアイコン
    ==================================== */
    .btn-burger {
        cursor: pointer;
        display: block;
        width: 56px;
        height: 60px;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    /*ハンバーガーアイコンを作る三本線*/
    .icon, .icon:before, .icon:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 2px; /*線の太さ*/
        width: 35px; /*線の長さ*/
        background-color: white;
        border-radius: 2px;
        display: block;
        content: '';
        cursor: pointer;
        margin: auto;
    }

    /*三本線の間隔*/
    .icon:before {
        top: 1.5rem;
    }

    .icon:after {
        top: -1.5rem;
    }

    /*チェックボックス非表示*/
    .nav-toggle {
        display: none;
    }

    /*アイコンをクリックしたら*/
    .nav-toggle:checked ~ .btn-burger .icon {
        background: transparent;
    }

    .nav-toggle:checked ~ .btn-burger .icon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    .nav-toggle:checked ~ .btn-burger .icon:after {
        transform: rotate(45deg);
        top: 0;
    }

    .icon,
    .icon:before,
    .icon:after {
        transition: all .8s;
    }

    .navbar-nav {
        display: none;
    }

    .nav-toggle:checked ~ .navbar-nav {
        display: block;
    }

    .navbar-brand {
        font-size: 2.0rem;
    }

    .nav-item .now-page-symbol {
        background-position-y: 0;
        background-position-x: -6rem;
        background-image: radial-gradient(0.4rem 0.4rem at center center, silver, silver 100%,transparent);
    }

    /* ==================================
        About
    ==================================== */
    .main-contents {
        margin: 3% 10%; /* [上下][左右] */
        text-align: center;
        font-size: 1rem;
    }
    .my-icon .icon {
        width: 20vw;
    }
}

